# check whether 'codium' is known already
if ! command -v codium &> /dev/null; then

    # check for flatpak
    if command -v flatpak &> /dev/null && flatpak list &> /dev/null --columns=application | grep -q "com.vscodium.codium"; then

        # alias
        alias codium="flatpak run com.vscodium.codium"
    fi
fi
